<div class="container">
  <h1>Pull Code from GitHub</h1>
  <p>To pull code from GitHub, follow these steps:</p>
  <ol>
    <li>Clone the repository to your local machine using the following command:</li>
    <pre><code class="code-line">git clone &lt;repository_url&gt;</code></pre>
    <li>Make the necessary changes to the files in the repository.</li>
    <li>Add the changes to the staging area using the following command:</li>
    <pre><code class="code-line">git add .</code></pre>
    <li>Commit the changes with a meaningful message using the following command:</li>
    <pre><code class="code-line">git commit -m "Commit message"</code></pre>
    <li>Push the changes to the remote repository using the following command:</li>
    <pre><code class="code-line">git push</code></pre>
  </ol>
</div>